.bg-custom{
    background-color: rgb(162, 214, 166);
}
.bg-custom-2{
    background-color: rgba(65, 104, 65, 0.616);
}
span{
    background-color: rgba(250, 235, 215, 0.295);
}
body {
    background-image: url('https://images5.alphacoders.com/500/thumb-1920-500302.jpg'); 
    background-size: cover;
  }
.cajitas{
    width: 25rem;
    
}
.imagen{
    width: 200px;
}
.border-custom{
    border: 5px solid #064e09;
}
.nav-link{
    color: #064e09;
}
.parrafo-color{
    color: rgb(255, 255, 255);
}
.border-cajitas{
    border: 1px solid #064e089d;
}
.pie{
    background-color: #0b2b0c;
    
}